{{- if and (eq .role "desktop") (ne .chezmoi.os "windows") -}}
#!/bin/sh
set -eu

# extensions: {{ .packages.vscode_extensions | join " " }}
command -v code >/dev/null 2>&1 || exit 0
{{- range .packages.vscode_extensions }}
code --install-extension {{ . }} --force
{{- end }}
{{- end }}
